<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Collectify {% endblock %}</title>
    {% block stylesheets %}
        <style>html {
                height: 100%;
            }

            body {
                background: fixed linear-gradient(#0f0f0f, #23003b 200%);
                margin: 0;
                position: relative;
                font-family: Bahnschrift, sans-serif;
                color: white;
                text-shadow: 0px 0px 1px RGBA(250, 250, 250, 0.8);
                margin-left: auto;
                margin-right: auto;
                padding-bottom: 5em;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

            footer {
                position: absolute;
                bottom: 0;
                z-index: 3;
                background-color: black;
                width: 100%;
                border-top: solid 2px #0f0f0f;
                height: 60px;
                box-shadow: 0px 0px 30px RGBA(0, 0, 0, 0.8);
            }

            .boite {
                overflow: -moz-scrollbars-horizontal;
                margin-left: auto;
                margin-right: auto;
                position: relative;
                background-color: RGBA(0, 0, 0, 0.8);
                width: 68%;
                height: 100%;
                padding: 30px;
                padding-top: 100px;
                padding-bottom: 100px;
                border-right: solid 2px #23003b;
                border-left: solid 2px #23003b;
                box-shadow: 0px 0px 30px black;
            }

            i {
                text-shadow: darkmagenta;
                text-align: left;
                float: right;
                color: magenta;
            }

            h1 {
                padding: 50px;
                margin-left: 10px;
                letter-spacing: 3px;
                font-size: 34px;
                text-shadow: 0px 0px 3px RGBA(35, 0, 59, 0.8);
                font-family: Bahnschrift, sans-serif;

            }

            .titre {
                position: fixed;
                z-index: 6;
                margin-left: auto;
                margin-right: auto;
                font-family: Bahnschrift, sans-serif;
                font-size: 38px;
                color: RGBA(250, 250, 250, 8);
                text-shadow: 0px 1px 20px RGBA(70, 0, 119, 8);
                right: 20px;
                top: 0px;
                letter-spacing: 3px;
            }

            h2 {
                padding: 50px;
                margin-left: auto;
                letter-spacing: 1px;
                margin-right: auto;
            }

            .navMain {
                overflow: hidden;
                position: fixed;
                top: 0;
                background-color: black;
                font-size: 14px;
                width: 100%;
                height: 5%;
                z-index: 5;
                padding: 1px;
                border-bottom: solid 1px #450074;
                box-shadow: 0px 0px 30px RGBA(0, 0, 0, 0.8);
            }

            .navMain a {
                left: 30%;
                float: left;
                display: block;
                font-weight: bold;
                color: #ab4FFF;
                text-align: center;
                width: 20%;
                padding: 5px 10px;
                text-decoration: none;
            }

            a {
                color: #ab4FFF;
                text-decoration: none;
                font-weight: bold;
                text-shadow: 0px 0px 50px #450074;
            }

            a:hover {
                color: #450074;
                text-decoration: none;
            }

            .navMain a:hover {
                color: magenta;
            }

            table {
                background-color: #a088b7;
                width: 100%;
                height: 60%;
                padding: 5px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 50px;
                margin-top: 50px;
                border-right: solid 2px #ab4FFF;
                border-left: solid 2px #ab4FFF;
                border-radius: 4px;
            }

            th {
                background-color: black;
                width: 20%;
                padding: 10px;
                border-right: solid 2px #ab4FFF;
                border-left: solid 2px #ab4FFF;
                border-radius: 2px;
            }

            td {
                background-color: #201827;
                width: 40%;
                padding: 10px;
                border-right: solid 2px lightgrey;
                border-left: solid 2px lightgrey;
                border-radius: 2px;
            }

            td a {
                color: white;
            }

            td a:hover {
                color: magenta;
            }

            .imgAlbum {
                max-width: 250px;
                min-width: 150px;
                max-height: 200px;
                min-height: 100px;
                border: solid 2px #ab4FFF;
                border-radius: 2px;
                position: absolute;
                top: 50px;
                left: 600px;
            }
        </style>

    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head> {% include 'Includes/header.html.twig' %}

<body>
<div class="titre">Collectify</div>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
{% include 'Includes/footer.html.twig' %}

