
{% block body %}
<header>
    <div class="navMain">
        <a href="{{ path('list') }}">Votre collection</a>
        <a href="{{ path('create') }}">Ajouter un objet</a>

    </div>
</header>
{% endblock %}


