    <p>Bienvenue sur Collectify, cette application vous permet de gérer vos collections. </p>
    <i>Date d'aujourd'hui : {{ "now" |date("d-m-Y") }}</i><br/><br/>
    <p>Voici les objets de votre collection : </p><br/><br/>