<p>Vous pouvez ajouter un objet à votre liste. </p>
<br/>
Voici les différentes catégories d'objets existant.<br/>
<p>Quel type d'objet souhaitez-vous ajouter à votre liste ?</p><br/>
<br/>
<table>
{% for category in categories %}

    <tr>
        <th>{{ category.name }}</th>
        <td><a href="{{ path('createCat', {'catName' : category.name}) }}">Créer un objet</a></td>
    </tr>
{% endfor %}</table>