{% extends 'base.html.twig' %}

{% block body %}
    <h1>Supprimer</h1>
    <div class="boite"> <a href="{{ path('list') }}">Retour à la liste</a><br/><br/>
        Voulez-vous vraiment supprimer cet objet ?
        <a href="{{ path('delete', {'id': id, 'message': 0} ) }}">Supprimer cet objet</a>
    </div>
{% endblock %}