{% extends 'base.html.twig' %}

{% block body %}
    <h1>Votre collection</h1>

    <div class="boite">


    {% include 'Includes/indexBody.html.twig' %}

        <a href="{{ path('create') }}">Ajouter un objet</a><br/><br/>
<table>
    <tbody>

    <tr>
        <th>Nom</th>
        <th>Catégorie</th>
        <th>En savoir plus</th>
        <th></th>
    </tr>
    {% for sheet in sheets %}

        <tr>
            <td>{{ sheet.name }}</td>
            <td>{% if sheet.idcategory == 1 %}Audio
                {% elseif sheet.idcategory == 2 %}Vidéo
                {% elseif sheet.idcategory == 3 %}Image{% endif %}
            </td>
            <td><a href="{{ path('show', {'id' : sheet.id }) }}">Détails</a></td>
        <td><a href="{{ path('delete', {'id': sheet.id, 'message': true} ) }}">X</a></td>
        </tr>

    {% endfor %}
    </tbody>
</table>
    </div>
{% endblock %}